@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,cyrillic);

$main-font: "Ubuntu Mono";
$h-font: "Ubuntu Mono";
$base-font-size: 20px;

$switch-orientation-point-medium: "1100px";
$switch-orientation-point-mobile: "600px";

@mixin main-font() {
  font-family: $main-font;
  font-weight: 400;
}

@mixin h-font() {
  font-family: $h-font;
  font-weight: 400;
  color: $warning;
}


$menu-aside-width: 220px;
//$background-color: #f6f2db;
//$controls-depth: 1px;
//$controls-text-color: #fbfbfb;
//$controls-border-radius: 10px;
//$controls-default-color: darken($background-color, 25);
//$inputs-background: darken($background-color, 10);
//$success: lighten(#1e6caa, 10);
//$warning: #a97d50;
//$info: #f7ab50;
//$text-color: darken($warning, 20);

$background-color: #34495e;
$controls-depth: 4px;
$controls-text-color: #fbfbfb;
$controls-border-radius: 7px;
$controls-default-color: darken($background-color, 10);
$success: #35db49;
$warning: #ea5555;
$info: #3598db;
$text-color: lighten($background-color, 50);
$inputs-background: lighten($background-color, 10);
$inputs-text-color: lighten($background-color, 40);
