.container.padding-around-base.shift3.center.index-container
  .big.lighten-text.padding-horizontal-large
    chatalone#
  private rooms
  .container.padding-vertical-large.left.shift2
    %form{:action => to("/create"), :method => "post"}
      %input.text-field.f-span12.medium{:placeholder => "room name", :name => "name"}
      %input.text-field.f-span12.medium{:placeholder => "room password", :name => "password"}
      - if form.failed?
        %ul.success.medium.thin
          - form.messages(:create).each do |message|
            %li= message
      - if @error_message
        %ul.success.medium.thin
          %li= @error_message
      %br
      %br
      %button.button-info.f-span10.right.medium
        %i.icon-key
        create | login
    %p.darken-text
      chatalone# is an open source project. check out source code at
      %i.icon-github-circled.medium
      repo