.container.shift2.padding-around-large
  .container.messages.rounded-borders.padding-around-medium#message-container
    = partial "messages"
  .container.padding-around-medium
    %form{:action => "send", :method => "post"}
      %input.text-field.f-span7{:type => "text", :name => "message", :id => "message", :autocomplete => "off"}
      %input.text-field.f-span2{:type => "text", :name => "nick", :value => @nick}
      %input.text-field.f-span2{:type => "text", :name => "class", :value => @class}
      %input.hide{:type => "submit"}
    %button{:onclick => "notifyMe()"}
      allow notifications

:javascript
  function notifyMe() {
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    } else if (Notification.permission === "granted") {
      var notification = new Notification("Hi there!");
    } else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        if(!('permission' in Notification)) {
          Notification.permission = permission;
        }
        if (permission === "granted") {
          var notification = new Notification("Hi there!");
        }
      });
    }
  }
  setInterval(function() {
      $.get('/messages', function(data) {
            $("#message-container").html(data);
            if (data != $(window).data("messages")) {
              if ($(window).data("status") == "inactive") {
                notifyMe();
              }
            }
            $(window).data("messages", data);
          }
      );
  }, 5000);
  $(document).ready(function() {
    $("#message").focus();
  });
  $(window).blur(function(){
    $(window).data("status", "inactive");
  });
  $(window).focus(function(){
    $(window).data("status", "active");
  });
