.container.shift2
  .container.messages.rounded-borders.warning.padding-around-medium#message-container
    = partial "messages"
  .container.padding-around-medium
    %form{:action => "send", :method => "post"}
      %input.text-field.f-span9.medium{:type => "text", :name => "message", :id => "message", :autocomplete => "off"}
      %input.text-field.f-span2.medium{:type => "text", :name => "nick", :value => @nick, :placeholder => "nick"}
      %input.hide{:type => "submit"}
    %button.button-info.f-span4{:onclick => "notifyMe()"}
      allow notifications
    %button.button-info.f-span4{:onclick => location("/leave")}
      leave room
:javascript
  function notifyMe() {
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    } else if (Notification.permission === "granted") {
      var notification = new Notification("read chat", {icon: "images/logo.svg"});
      notification.onclick = function() {
        $(window).focus();
      }
    } else if (Notification.permission !== 'denied') {
      Notification.requestPermission(function (permission) {
        if(!('permission' in Notification)) {
          Notification.permission = permission;
        }
        if (permission === "granted") {
          var notification = new Notification("read chat", {icon: "images/logo.svg"});
          notification.onclick = function() {
            $(window).focus();
          }
        }
      });
    }
  }
  setInterval(function() {
      $.get('/messages', function(data) {
          $("#message-container").html(data);
          if (data != $(window).data("messages")) {
            if ($(window).data("status") == "inactive") {
              notifyMe();
            }
          }
          $(window).data("messages", data);
        }
      );
  }, 5000);
  $(document).ready(function() {
    $("#message").focus();
  });
  $(window).blur(function(){
    $(window).data("status", "inactive");
  });
  $(window).focus(function(){
    $(window).data("status", "active");
  });
