@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,cyrillic);
.messages {
  height: 500px;
  overflow-y: scroll; }

.large {
  font-size: #d0ffff; }

.index-container {
  padding-top: 5% !important; }

.brand {
  font-size: 120px; }

.thin {
  font-weight: 100; }
